<div class="card">
  <header class="card-header">
    <p class="card-header-title">
    <h2>
      <a href="/event/{{id}}">{{name}}</a>
    </h2>
    <div class="card-content">
    <div class="content">
    <p>
        {{date}}
    <p>
      {{description}}
    </p>
    <p>
        number of participants
    </p>
     <footer class="card-footer">
    <p>Created by {{event.user.name}} on {{date_created}}</p>
  </div>
</div>
