<div class="card">
  <header class="card-header has-background-danger-light">
    <p class="card-header-title">
      <a href="/event/{{id}}">
      <h1 class="card-header-title is-size-2">
        {{title}}
      </h1>
      </a>
    </p>
    </header>
    <div class="card-content has-background-primary-light">
      <div class="content">
        <p>
          {{date}}
        </p>
        <p>
          {{description}}
        </p>
        <p>
          number of participants
        </p>
        <footer class="card-footer">
          <p>Created by {{user.name}} on {{date_created}}</p>
        </footer>
      </div>
    </div>
</div>