<section class="section has-background-primary">
  <h1 class="title has-text-info-light">{{title}}</h1>
  <h2 class="subtitle has-text-info-light">
    Created by
    <strong class="has-text-info-light">{{creator.username}}</strong>
    on
    {{format_date createdAt}}
  </h2>
</section>
<div class="container">
  <div class="notification is-light">
    <strong>Event Date: </strong>
    {{format_date date}}
  </div>
</div>
<div class="container">
  <div class="notification is-light">
    <strong>Event Location: </strong>
    {{location}}
  </div>
</div>
<div class="container">
  <div class="notification is-light">
    <strong>Number of people attending: </strong>
    {{attendee.length}}
  </div>
</div>

<div class="container">
  <div class="notification is-light">
    <strong>Description: </strong>
    {{description}}
  </div>
</div>
<br />
{{#if logged_in}}
  <div>
    {{#if attended}}
      <button id="unattendBtn" class="button is-light is-rounded"><strong
        >Unattend</strong></button>
      <script src="/js/unattend.js"></script>
    {{else}}
      <button id="attendBtn" class="button is-danger is-rounded"><strong
        >Attend</strong></button>
      <script src="/js/attend.js"></script>
    {{/if}}
  </div>
{{/if}}

{{#if logged_in}}
  <article class="media">
    <form class="media-content comment-form">
      <div class="field">
        <p class="control">
          <textarea
            id="commentContent"
            class="textarea"
            placeholder="Add a comment..."
          ></textarea>
        </p>
      </div>
      <button type="submit" class="button is-info">Submit</button>
    </form>
  </article>
  <script src="/js/comment.js"></script>
{{else}}
  <article class="media">
    <div class="media-content">
      <div class="field">
        <p class="control">
          <textarea
            class="textarea"
            placeholder="Please Login to leave a comment"
            disabled
          ></textarea>
        </p>
      </div>
    </div>
  </article>
{{/if}}

{{#each comments}}
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{user.username}}</strong>
          <br />
          {{content}}
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item">
            <span class="icon is-small"><i class="fas fa-reply"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fas fa-retweet"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fas fa-heart"></i></span>
          </a>
        </div>
      </nav>
    </div>
    <div class="media-right">
      <button class="delete"></button>
    </div>
  </article>
{{/each}}