<!-- Loop over events -->
<div class="card">
  <header class="card-header">
    <h2>{{title}}</h2>
    <p>Created by {{creator.username}} on {{createdAt}}</p>

  </header>
  <p>Event Date: {{date}}</p>
  <p>Event Location: {{location}}</p>
  <p>Description: {{description}}</p>

  <p>
    Number of people attending:
    {{attendee.length}}
  </p>
  {{#if logged_in}}
    <div>
      {{#if attended}}
        <button
          id="unattendBtn"
          class="button is-light is-rounded"
        >Unattending</button>
        <script src="/js/unattend.js"></script>
      {{else}}
        <button id="attendBtn" class="button is-danger is-rounded">I'm Attending</button>
        <script src="/js/attend.js"></script>
      {{/if}}
    </div>
  {{/if}}
</div>